/* WorkplaceTitle */
.WorkplaceTitle {
  margin-right: 12px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* WorkplaceContent */
.WorkplaceContent {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .WorkplaceContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .WorkplaceContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .WorkplaceContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .WorkplaceContent {
    display: flex;
    flex-direction: column;
  }
}

/* WorkplaceContentLeft */
.WorkplaceContentLeft {
  display: flex;
  align-items: center;
}

/* WorkplaceContentLeftImgWrap */
.WorkplaceContentLeftImgWrap {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.WorkplaceContentLeftImgWrap img {
  width: 100%;
  height: 100%;
}

/* Welcome */
.Welcome {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

/* Jobs */
.Jobs {
  color: rgba(0, 0, 0, 0.45);
}

/* WorkplaceContentRight */
.WorkplaceContentRight {
  display: flex;
}

/* ProjectNums */
.ProjectNums {
  position: relative;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectNums::after {
  position: absolute;
  content: " ";
  top: 8px;
  right: 0;
  width: 1px;
  height: 40px;
  background-color: #f0f0f0;
}

/* TeamRank */
.TeamRank {
  position: relative;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamRank::after {
  position: absolute;
  content: " ";
  top: 8px;
  right: 0;
  width: 1px;
  height: 40px;
  background-color: #f0f0f0;
}

/* VisitItem */
.VisitItem {
  position: relative;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project */
.Project {
  color: rgba(0, 0, 0, 0.45);
}

/* Num */
.Num {
  font-size: 24px;
}

/* IPJItem */
.IPJItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* IPJAvatarTitle */
.IPJAvatarTitle {
  display: flex;
  margin-bottom: 10px;
}

/* IPJAvatarWrap */
.IPJAvatarWrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.IPJAvatarWrap img {
  width: 100%;
  height: 100%;
}

/* IPJContent */
.IPJContent {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}

/* IPJContentNameTime */
.IPJContentNameTime {
  display: flex;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 10px;
}

/* IPJAuthor */
.IPJAuthor {
  margin-right: 10px;
}

/* IPJTime */
.IPJTime {
  color: rgba(0, 0, 0, 0.25);
}
