.langClassName {
  margin-left: 8px;
  color: rgba(0 0 0 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}

.langClassName:hover {
  color: red;
}

.containerClassName {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-image: url("https://mdn.alipayobjects.com/yuyan_qk0oxh/afts/img/V-_oS6r-i7wAAAAAAAAAAAAAFl94AQBr");
  background-size: 100% 100%;
}
