@import "tailwindcss";
@source "node_modules/fumadocs-ui/**/*.{js,ts,jsx,tsx}";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source "../app/**/*.{ts,tsx}";

@keyframes shake {
	0%,
	100% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
}

.animate-shake {
	animation: shake 0.5s ease-in-out infinite;
}
