# ================================ server ================================
# cloudflare
CLOUDFLARE_TOKEN=

# better-auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
BETTER_AUTH_BASE_PATH=/api/auth

# ollama
OLLAMA_URL = 'http://localhost:11434'

# ================================ client ================================
# url
VITE_BASE_URL=http://localhost:5173
