node_modules

/.cache
/build
/public/build
.env
.env.development
.env.local

# Local Netlify folder
.netlify
TODO.md

# prisma db data
prisma/migrations/*
prisma/dev.db
prisma/dev.db-journal

docker/

.vercel
public/uploads/*

# vitepress

doc/.vitepress/cache/
vite.config.ts.*

# stats
stats.html
