node_modules

/.cache
/build
/public/build
.env


# Local Netlify folder
.netlify
TODO.md

# prisma db data
prisma/
depoly/
docker/

.vercel
public/uploads/avatar/*

# vitepress

doc/.vitepress/cache/
vite.config.ts.*
