# ================================ server ================================
# cloudflare
CLOUDFLARE_TOKEN=

# better-auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3002
BETTER_AUTH_BASE_PATH=/api/auth
